<div style="margin-top:2cm; text-align:center; margin-bottom: 15cm;">
<h1>Ci scusiamo per il disagio ma non abbiamo nessun operatore nella tua città<br>
faremo il possibile per raggiungerti non appena possibile</h1>
</div>